// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.main {
    width: 100%;
    height: 100vh;
}

.get-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.sale__btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}:hover {
    background-position: right center;
}

 .check-wrapper {
     display: flex;
     align-items: center;
     margin-top: 30px;
     flex-direction: column;
 }

 .response-text {
     background-color: greenyellow;
     font-size: 25px;
     margin-top: 15px
 }

 .check-title {
     margin: 5px;
 }

 .code {
     margin: 10px;
 }



